@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --white: #ffffff;
  --orange: #f68b1e;
  --lightGrey: #c7c7cd;
  --silver-grey: #999999;
  --text: #75757a;
  --bodyBg: #f1f1f1;
  --black: #000000;
  --dark-text: #222222;
  --footer-slight-dark: #282828;
  --footer-main-color: #323232;
  --hover: #cf8438;
  --red: #e61601;
  /* --navy-blue: #262973; */
  --purple: #7f06cf;
  --light-green: #5aab19;
  --main-font-size: 12px;
  --transition: all 500ms ease;
  --border-radius: 5px;
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: var(--black);
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background: var(--bodyBg);
  /* font-family: "Poppins", sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

header {
  width: 100%;
  height: 5rem;
  background: var(--white);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 1px 14px 6px -16px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 14px 6px -16px rgba(66, 68, 90, 1);
  box-shadow: 1px 14px 6px -16px rgba(66, 68, 90, 1);
  z-index: 999;
}

.header-wrapper {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ==================bartop================================= */

.bartop1 {
  background: var(--orange);
  width: 100%;
}

.bartop-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.bartop-wrapper img {
  width: 1.5rem;
}
.bartop-wrapper span a {
  padding: 0.4rem;
}

.bartop1 a {
  font-size: 0.9rem;
  color: var(--very-light-grey);
}

.bartop1 > a:hover {
  color: var(--orange);
}

.bartop1 .left {
  display: flex;
}

.bartop1 .left .icon {
  margin-right: 1rem;
}

.bartop1 .right {
  display: flex;
}

.bartop1 .right .currency > a,
.bartop1 .right .language > a {
  margin-right: 1rem;
  padding: 0.2rem;
  color: var(--white);
}

.bartop1 .right .currency,
.bartop1 .right .language,
.bartop1 .right .account {
  position: relative;
  margin-right: 2rem;
  text-transform: capitalize;
}

.bartop1 .currency-menu,
.bartop1 .language-menu,
.bartop1 .account-menu {
  position: absolute;
  left: -4rem;
  width: 15vw;
  display: block;
  display: flex;
  flex-direction: column;
  background: var(--white);
  top: 3.5rem;
  height: auto;
  box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.125);
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  border-radius: 0.3rem;
  opacity: 0;
  visibility: hidden;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  z-index: 1000;
}

.bartop1 .currency-menu:before,
.bartop1 .language-menu:before,
.bartop1 .account-menu:before {
  position: absolute;
  content: "";
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-bottom: 0.5rem solid var(--white);
  border-right: 0.5rem solid transparent;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.bartop1 .currency-menu a,
.bartop1 .language-menu a,
.bartop1 .account-menu a {
  padding: 0.8rem 1rem;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}

.bartop1 .currency-menu a:hover,
.bartop1 .language-menu a:hover,
.bartop1 .account-menu a:hover {
  background: var(--very-light-grey);
}

.bartop1 .right .currency:hover .currency-menu,
.bartop1 .right .language:hover .language-menu,
.bartop1 .right .account:hover .account-menu {
  top: 2rem;
  opacity: 1;
  visibility: visible;
}

.bartop1 .account-menu p {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 0.1rem solid var(--silver);
}

header .logo img {
  width: 10rem;
}
.searchForm {
  align-items: center;
  width: 50%;
  border: 0.1rem solid var(--bodyBg);
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.searchForm .searchField {
  width: 100%;
  background: transparent;
  border: none;
  padding: 0.8rem 1rem 0.8rem 9rem;
}

.searchForm .searchField:focus {
  outline: none;
}

.searchForm .searchCategory {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--white);
  padding: 0.656rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchForm .searchCategorymenu {
  position: absolute;
  left: 0;
  width: 15vw;
  display: block;
  display: flex;
  flex-direction: column;
  background: var(--white);
  top: 4rem;
  height: auto;
  box-shadow: 2px 0px 17px -5px rgba(0, 0, 0, 0.225);
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  border-radius: 0.3rem;
  opacity: 0;
  visibility: hidden;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  z-index: 99;
}

.searchForm .searchCategorymenu img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.searchForm .searchCategorymenu i {
  margin-right: 1rem;
}

.searchForm .searchCategorymenu a {
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 1rem;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}
.searchForm .searchCategorymenu a:hover {
  color: var(--orange);
}

.searchForm .searchCategorymenu:before {
  position: absolute;
  content: "";
  top: -1rem;
  left: 10%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 0.7rem solid transparent;
  border-left: 0.7rem solid transparent;
  border-bottom: 0.7rem solid var(--white);
  border-right: 0.7rem solid transparent;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.searchForm .searchCategory:hover .searchCategorymenu {
  opacity: 1;
  visibility: visible;
  top: 3rem;
}

.searchBtn {
  background: var(--orange);
  border-style: none none none none;
  padding: 0.8rem;
  width: 5rem;
  /* color: var(--white); */
  font-weight: 700;
  cursor: pointer;
}

.LinksRight {
  display: flex;
  align-items: center;
  margin-left: -35px;
}
.LinksRight > li {
  margin-right: 20px;
  display: inline-flex;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.LinksRight > li:hover {
  background: var(--bodyBg);
}
.LinksRight > li > a {
  display: flex;
  align-items: center;
}

.LinksRight .icon {
  margin-right: 5px;
}

.LinksRight .arrow {
  margin-left: 8px;
  font-size: 1.5rem;
}

.LinksRight a {
  /* padding: 1rem; */
  transition: ease-in-out 0.3s 0s;
  font-weight: 500;
  font-size: 0.8rem;
}

.LinksRight a:hover {
  color: var(--orange);
  font-weight: 500 !important;
}

.LinksRight .icon {
  font-size: 1.2rem;
}

.LinksRight .account {
  position: relative;
}
.LinksRight .account:hover .account-menu {
  opacity: 1;
  visibility: visible;
}
.LinksRight .account .account-menu {
  position: absolute;
  width: 17.5rem;
  height: auto;
  background: var(--white);
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  top: 3rem;
  right: -5rem;
  /* opacity: 0;
  visibility: hidden; */
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.openAccountsmenu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.openAccountsmenu:hover .account-menu {
  opacity: 1;
  visibility: visible;
}

.openAccountsmenu span {
  font-size: 0.9rem;
}
.LinksRight .account .account-menu .menu-top .signin {
  width: 80%;
  margin: 0.5rem auto;
  background-color: orange;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.LinksRight .account .account-menu .menu-top .signup {
  width: 80%;
  margin: 0.5rem auto;
  background-color: orange;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.LinksRight .account .account-menu .menu-header {
  color: var(--dark-text);
  /* background-color: red; */
  font-size: 1rem;
  padding: 0.8rem 1rem 0.5rem 0.8rem;
  width: 80%;
  margin: 0.5rem auto;
  /* background-color: orange; */
}
.LinksRight .account .account-menu .separator {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--lightGrey);
}
.LinksRight .account .account-menu .separator::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background: var(--lightGrey);
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.LinksRight .account .account-menu .separator::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background: var(--lightGrey);
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.LinksRight .account .account-menu::after {
  content: "";
  position: absolute;
  top: -1rem;
  left: 50%;
  border-top: 8px solid transparent;
  border-bottom: 8px solid var(--white);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
  -moz-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  -o-transform: translateX(-10%);
}

.LinksRight .account .account-menu .sign-with {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  color: var(--black);
  font-weight: 500;
  font-size: 0.9rem;
}
.LinksRight .account .account-menu a {
  display: block;
  padding: 0.8rem;
  color: var(--black);
  transition: ease-in-out 0.3s 0s;
  text-transform: uppercase;
  font-weight: 500;
}

.LinksRight .account .account-menu .menu-bottom li > a {
  color: var(--dark-text);
  width: 80%;
  margin: 0 auto;
}
.LinksRight .account .account-menu .menu-bottom li > a:hover {
  background: rgba(255, 165, 0, 0.225);
  color: var(--orange);
  font-weight: 800;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.LinksRight .account .account-menu .menu-bottom li > a:last-of-type {
  margin-bottom: 1rem;
}

.social-media-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.social-media-signin img {
  width: 2rem;
}
.social-media-signin a {
  padding: 0.8rem;
}

/* MAIN SECTION================= */

.main {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

.top-section {
  display: grid;
  grid-template-columns: 18% 1fr 20%;
  column-gap: 12px;
  margin-top: 1rem;
  /* background: var(--white); */
}

.top-section .left-menu {
  background: var(--white);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  position: relative;
}
.top-section .left-menu a {
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  padding: 0.3rem 0;
}
.top-section .left-menu a:hover {
  color: var(--orange);
}

.top-section .left-menu a i {
  margin: 0.3rem;
}

.top-section .left-menu {
  position: relative;
}

.top-section .leftmenu-content:hover .menu-content {
  display: grid;
}

.left-menu .menu-content {
  position: absolute;
  top: 0;
  left: 13rem;
  width: 755px;
  height: 420px;
  display: grid;
  background: var(--white);
  z-index: 1;
  display: none;
}

/* Slider============================ */

.slider {
  width: 100%;
  height: 420px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.slider:hover #prev,
.slider:hover #next {
  opacity: 1;
}
.slider .slider-content {
  width: inherit;
  height: 420px;
  display: flex;
  position: relative;
}

.slider .slider-content .slide {
  height: inherit;
}
.slider .slider-content .slide img {
  height: 100%;
  width: 100%;
  /* position: absolute; */
}

.buttons #prev,
.buttons #next {
  position: absolute;
  background: var(--white);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.2;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.buttons #next {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.buttons #prev {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.slider .indicators {
  width: 100%;

  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
}
.slider .indicators span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--white);
  cursor: pointer;
}
.slider .indicators span.active {
  background: var(--orange);
}
.slider .indicators span:not(:first-of-type),
.slider .indicators span:not(:last-of-type) {
  margin-right: 8px;
}

/* Right side menu=============== */

.banner img {
  width: 100%;
  display: none;
}

.right-menu {
  width: 100%;
  /* background-color: red; */
  position: relative;
}

.top-section .cards .card-1 {
  width: 100%;
  background: var(--white);
  padding: 1rem;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  height: 48%;
  position: absolute;
  top: 0;
}
.top-section .cards .card-item:not(:first-of-type),
.top-section .cards .card-item:not(:last-of-type) {
  margin: 1rem 0;
}

.top-section .cards .card-item .heading {
  text-transform: uppercase;
}
.top-section .card-1 .content {
  width: 100%;
  display: flex;
}
.top-section .card-1 .content a {
  width: 100%;
  display: flex;
}
.top-section .card-1 .content p {
  font-size: 0.8rem;
}

.top-section .cards .card-item .left {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

.top-right-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}

.card-2 {
  position: absolute;
  width: 100%;
  height: 48%;
  bottom: 0;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  background: var(--white);
  overflow: hidden;
}
.card-2 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* top-selling============================ */

.products-main {
  margin: 1rem 0;
  width: 100%;
}

.products-container:not(:first-of-type) {
  margin-top: 1rem;
}

.products-container .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}
.products-container .top-deals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: var(--white);
  border-bottom: 1px solid var(--orange);
}

.products-container .top-deals-header {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.products-container .header .top-selling {
  font-size: 1rem;
}
.products-container .header .buttons {
  font-size: 1.5rem;
}
.products-container .see-all-products {
  display: flex;
  align-items: center;
}
.products-container .see-all-products p {
  font-size: 1rem;
}

.products-content {
  position: relative;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  /* width: 1400px; */
  max-width: 100%;
}
.products-content .product-items {
  /* margin-top: 0.5rem; */
  /* width: 1400px; */
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.products-content .product-items::-webkit-scrollbar {
  display: none;
}

.scroll-products-left,
.scroll-products-right {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.325);
  background: var(--orange);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 1;
  opacity: 0.3;
  cursor: pointer;
}

.products-content:hover .pre-btn,
.products-content:hover .nxt-btn {
  opacity: 1;
}
.pre-btn {
  left: 1rem;
}

.nxt-btn {
  right: 1rem;
}

.single-item {
  width: 250px;
  height: fit-content;
  background: var(--white);
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  position: relative;
}

.single-item:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.125);
}

.single-item:not(:first-of-type),
.single-item:not(:last-of-type) {
  margin: 0.5rem 0.3rem;
}

.single-item img {
  width: inherit;
  height: 200px;
  /* object-fit: cover; */
  padding-top: 0.3rem;
}
.single-item .details {
  padding: 0.5rem;
}
.single-item .details .description,
.single-item .details .price,
.single-item .details .original-price {
  width: inherit;
  white-space: nowrap;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  overflow-y: hidden;
}

.single-item .details .description {
  padding: 0.5rem;
}
.single-item .details .original-price {
  text-decoration: line-through;
  color: var(--text);
}

.single-item .details .price {
  font-weight: 600;
}

.rating {
  width: 100%;
}
.rating .star {
  width: inherit;
  display: flex;
  font-size: 1.2rem;
  color: var(--orange);
}

.single-item-lables {
  display: flex;
  justify-content: space-between;
}
.single-item-lables span {
  background: var(--light-green);
  justify-content: space-between;
  width: fit-content;
  padding: 0.2rem 1rem;
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.5rem;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.single-item-lables .special {
  background: var(--red);
  justify-content: space-between;
  width: fit-content;
  padding: 0.2rem 1rem;
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 600;
}

/* TOP DEALS============================= */

.top-deals-content .single-item .progress {
  width: 100%;
  height: 8px;
  background: var(--lightGrey);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  overflow: hidden;
  margin: 0.5rem 0;
}
.top-deals-content .single-item .progress .progress-inner {
  width: 80%;
  height: 8px;
  background: var(--red);
}
.top-deals-content .single-item .progress .progress-inner {
  width: 80%;
  height: 8px;
  background: var(--red);
}
.top-deals-content .single-item .item-buy-btn {
  width: 100%;
  border: 0;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  background: var(--orange);
  margin-top: 0.5rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.top-deals-content .single-item .sold_available {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  color: var(--text);
  font-weight: 600;
}
.top-deals-content .single-item .sold_available .sold,
.top-deals-content .single-item .sold_available .available {
  display: flex;
}

/* styles for the slider========================= */

.tns-nav {
  text-align: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.tns-nav button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 0;
  margin: 0 3px;
}

.tns-nav .tns-nav-active {
  background: var(--orange);
}

/* Website Load modal popup=========================== */
#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  backdrop-filter: blur(3px);
}
#modalOverlay .close-popup-modal {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  width: 2rem;
  height: 2rem;
  color: var(--dark-text);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#modalOverlay .modalPopup {
  width: 50%;
  height: fit-content;
  background-color: var(--white);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.425);
}
#modalOverlay .modalPopup .modalContent {
  display: grid;
  grid-template-columns: 40% 60%;
  height: inherit;
  overflow: hidden;
}

.modal-content-left {
  width: 100%;
  height: 100%;
}

.modal-content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.modal-content-right .subheading {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.modal-content-right .small {
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 20px;
  padding-bottom: 0.5rem;
  color: var(--dark-text);
}

.modal-content-right .modal-heading {
  margin: 0 0 1rem 0;

  font-size: 1.6rem;
}
.modal-content-left img {
  width: 100%;
  height: 100%;
}

.modal-popup-form {
  width: 100%;
  margin-top: 0.5rem;
}
.modal-popup-form .input-field {
  background: var(--white);
  width: 100%;
  position: relative;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--lightGrey);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.modal-popup-form .input-field:focus-within {
  border: 1px solid var(--orange);
}
.modal-popup-form .input-field:focus-within .mail-icon {
  fill: var(--orange);
}
.modal-popup-form .input-field input {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 0.5rem 0.5rem 2.7rem;
  background: transparent;
  border: 0;
  /* border: 1px solid var(--silver-grey); */
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.modal-popup-form .input-field input:focus {
  outline: none;
}

.modal-popup-form .input-field input::placeholder {
  color: var(--silver-grey);
  font-size: 1rem;
}
.modal-popup-form .input-field .mail-icon {
  font-size: 1rem;
  position: absolute;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--silver-grey);
}

.modal-popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.modal-popup-buttons .modal-button {
  width: 50%;
  padding: 0.5rem;
  font-size: 1.2rem;
  background: var(--orange);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  text-align: center;
  color: var(--white);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.modal-popup-buttons .modal-button:hover {
  background: var(--hover);
  color: var(--white) !important;
}
.modal-popup-buttons .modal-button:first-of-type {
  margin-right: 0.2rem;
}
.modal-popup-buttons .modal-button:last-of-type {
  margin-left: 0.2rem;
}

/* STYLES FOR THE FOOTER================================ */

.footer {
  width: 100%;
  background: var(--footer-main-color);
}

.footer-wrapper {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  background: var(--footer-main-color);
}

.footer-top-row {
  background: var(--footer-slight-dark);
}

.top-row-content {
  display: grid;
  grid-template-columns: 20% 1fr 25%;
  padding: 1rem;
  background: var(--footer-slight-dark);
}

.footer-top_left .content {
  display: grid;
  place-items: center;
}
.footer-top_left .content img {
  width: 100%;
}
.footer-top-row_middle .content {
  /* background-color: yellow; */
  width: 80%;
  margin: 0 auto;
}
.footer-top-row_middle .content p {
  font-size: 1rem;
}

.footer-top-row_middle .footer-form .input-field {
  background: var(--white);
  width: 100%;
  position: relative;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--white);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  margin-right: 1rem;
}

.footer .heading {
  color: white;
  font-size: 0.9rem;
  padding: 0.8rem 0;
  text-transform: uppercase;
  font-weight: 600;
}
.footer p {
  color: white;
  font-size: 0.6rem;
  padding: 0.6rem 0;
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-form .input-field:focus-within {
  border: 2px solid var(--orange);
}
.footer-form .input-field:focus-within .mail-icon {
  fill: var(--orange);
}
.footer-form .input-field input {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 0.5rem 0.5rem 2.7rem;
  background: transparent;
  border: 0;
  /* border: 1px solid var(--silver-grey); */
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.footer-form .input-field input:focus {
  outline: none;
  /* border: 1px solid var(--orange); */
}

.footer-form.input-field input::placeholder {
  color: var(--silver-grey);
  font-size: 1rem;
}
.footer-form .input-field .mail-icon {
  font-size: 1rem;
  position: absolute;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--silver-grey);
}

.footer-form-buttons {
  display: flex;
  justify-content: space-between;
}
.footer-form-buttons .footer-form-button {
  width: 7rem;
  padding: 0.5rem 0.9rem;
  font-size: 1.2rem;
  background: transparent;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  text-align: center;
  color: var(--white);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  border: 1px solid var(--white);
}

.footer-form-buttons .footer-form-button:hover {
  border: 1px solid var(--hover);
  color: var(--orange) !important;
}
.footer-form-buttons .footer-form-button:first-of-type {
  margin-right: 0.2rem;
}
.footer-form-buttons .footer-form-button:last-of-type {
  margin-left: 0.2rem;
}

.footer-top-row_right {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.download-buttons {
  width: 60%;
  display: flex;
  gap: 0.5rem;
}
.download-buttons img {
  width: 100%;
  height: 2rem;
  display: flex;
}
.download-buttons .apple {
  width: 50%;
  height: 100%;
  display: flex;
}
.download-buttons .play-store {
  width: 50%;
  height: 100%;
  display: flex;
}
.small-logo-text {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.small-logo-text img {
  width: 2rem;
  height: 2rem;
}
.small-logo-text .small-logo {
  width: 3rem;
  height: 3rem;
  background: var(--white);
  background: var(--orange);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  margin-right: 1rem;
}

.small-logo-text .small-logo .logo-star-content {
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--white);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 1.5rem;
}
.small-logo-text .small-logo .logo-star-content i {
  color: var(--orange);
}

/* ================footer-middle-row======================= */

.footer-middle-row {
  width: 100%;
  margin: 0 auto;
}
.footer-middle-row > .content {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.footer-middle-row .content .links {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
.footer-middle-row .content a {
  color: var(--white);
}
.footer .links a:hover {
  text-decoration: underline;
}

.country-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.country-list .left {
  display: flex;
  flex-direction: column;
}
.country-list .right {
  display: flex;
  flex-direction: column;
}

/* ======================footer-bottom-row_top====================== */

.footer-bottom-row_top {
  display: grid;
  grid-template-columns: 25% 1fr;
  margin: 2rem 0;
}
.footer-bottom-row_top .media-icons {
  display: flex;
}

.footer-bottom-row_top .media-icons i {
  font-size: 1.6rem;
  margin-right: 1rem;
  color: var(--white);
}
.footer-bottom-row_top .media-icons i:hover {
  color: var(--orange);
}
.footer-bottom-row_top .media-icons .icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  filter: grayscale(100%);
}

/* =============footer-bottom-row_bottom================= */

.footer-bottom-row {
  /* padding-bottom: 3rem; */
}

.footer-bottom-row_bottom .content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.footer-bottom-row_bottom .content .links {
  display: flex;
  flex-direction: column;
}
.footer-bottom-row_bottom .content .links a {
  color: var(--white);
  line-height: 25px;
}

.footer .line {
  /* margin-bottom: 4rem; */
  width: 100%;
  height: 1px;
  background: rgb(92, 91, 91);
  margin-top: 2rem;
}

/* ============TIMER=========================== */

.top-deals-right {
  display: flex;
  align-items: center;
}
.top-deals-right .text {
  margin-right: 2rem;
  font-size: 1.3rem;
}
.top-deals-right .counter {
  color: rgba(255, 255, 255, 0.725);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
}

#countdown-timer {
  background: var(--red);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.top-deals-right #countdown-timer ul {
  display: flex;
}
.top-deals-right #countdown-timer ul li:not(:last-of-type) {
  margin-right: 1.5rem;
}

.top-deals-right #days,
.top-deals-right #hours,
.top-deals-right #minutes,
.top-deals-right #seconds {
  color: var(--white);
  font-size: 1.2rem;
}

/* ====================Overlay============================ */

.mobile-sideMenu-overlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.225);
  z-index: 2000;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.account-sideMenu-header {
  background: var(--dark-text);
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: relative;
}
.account-sideMenu-header .close-sideMenu-arrow {
  color: var(--white);
  z-index: 1;
  font-size: 2rem;
  top: 0.5rem;
  position: absolute;
  right: 0.5rem;
  height: 1.5rem;
  cursor: pointer;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  /* display: none; */
}

#toggleSidemenu:checked ~ .mobile-sideMenu-overlay {
  left: 0;
}
.account-sideMenu-header .sideMenu-img-content {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  margin-right: 0.5rem;
}
.account-sideMenu-header .sideMenu-img-content img {
  width: 100%;
  height: 1005;
  object-fit: cover;
  /* overflow: hidden; */
}
.account-sideMenu-header .account-username {
  font-size: 1rem;
  /* overflow: hidden; */
  color: var(--white);
}

.sideMenu-account-Login-btn {
  width: fit-content;
  border: 0;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.6rem;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  background: var(--orange);
  position: absolute;
  right: 1rem;
  color: var(--white);
  cursor: pointer;
}
.mobile-sideMenu-overlay .sideMenu {
  width: 300px;
  height: 100%;
  overflow-y: auto;
  background: var(--white);
}
.mobile-sideMenu-overlay .sideMenu .sideMenu-sideLinks {
  display: flex;
  flex-direction: column;
}
.mobile-sideMenu-overlay .sideMenu .sideMenu-sideLinks .link-item {
  display: flex;
  /* flex-direction: column; */
  position: relative;
}
.mobile-sideMenu-overlay .sideMenu .sideMenu-sideLinks .link-item .arrow {
  /* display: flex; */
  /* flex-direction: column; */
  position: absolute;
  right: 0;
  font-size: 1.2rem;
}
.mobile-sideMenu-overlay .sideMenu .sidemenu-icon {
  font-size: 1rem;
  /* width: 2rem;
  height: 2rem; */
  /* background-color: red; */
  display: grid;
  place-items: center;
  margin-right: 1rem;
  font-size: 1rem;
}
.mobile-sideMenu-overlay .sideMenu .sidemenu-icon img {
  width: 1rem;
}

.sideMenu-sideLinks {
  padding: 1rem 1rem;
}

.sideMenu-sideLinks li > a {
  /* color: red; */
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: capitalize;
}
.sideMenu-heading {
  padding: 1.5rem 1rem;
  color: var(--silver-grey);
  text-transform: uppercase;
}

/* ====================product details page====================== */
.product-details-container {
  display: grid;
  height: 100%;
  grid-template-columns: 75% 25%;
  margin-top: 1rem;
}
.product-details-container .product-details-left {
  overflow-y: auto;
  height: 90vh;
}
.product-details-container .product-details-content-left {
  display: grid;
  grid-template-columns: 40% 60%;
  background: var(--white);
}
.product-details-container .product-details-content-left .similar-products a {
  color: var(--orange);
  font-size: 0.9rem;
}
.product-details-container
  .product-details-content-left
  .similar-products
  a:hover {
  text-decoration: underline;
}
.product-details-container .storeName {
  background: var(--light-green);
  color: var(--white);
  padding: 0.2rem 0.5rem;
  font-weight: 600;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin: 0.5rem 0;
  display: inline-flex;
}
.product-details-container .product-detaisl-product-name {
  color: var(--dark-text);
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  font-weight: 600;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin: 0.5rem 0;
  width: fit-content;
}
.product-details-container .brand .name {
  color: var(--dark-text);
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  font-weight: 600;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin: 0.5rem 0;
  width: fit-content;
}

.product-details-rating {
  /* background-color: red; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--bodyBg);
  padding-bottom: 0.5rem;
}
.product-details-rating .star {
  font-size: 1rem;
  color: var(--orange);
  margin-right: 0.5rem;
}
.product-details-rating .user-rating {
  font-size: 1rem;
  color: var(--orange);
  margin-right: 1rem;
}
.product-detaisl-price {
  font-size: 1.5rem;
  color: var(--dark-text);
  padding: 1rem 0;
  font-weight: 600;
  border-bottom: 1px solid var(--bodyBg);
}

.product-details-variation .heading {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 1rem;
}
.product-details-variation .heading .variation-link {
  color: var(--orange);
  font-size: 0.8rem;
  text-transform: capitalize;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.product-details-variation .heading .variation-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.product-details-variation .heading .variation {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}
.product-details-container .heading .sizeguide-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.125);
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
}
.product-details-container .sizeguide-modal .sizeguide-modal-content {
  width: 400px;
  height: 300px;
  background: var(--white);
  position: relative;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.product-details-container .close-variation-modal {
  color: var(--text);
  font-size: 1.5rem;
  /* background-color: red; */
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  display: block;
  text-align: center;
  line-height: 1.5rem;
  cursor: pointer;
}
#variation-link:checked ~ .main .sizeguide-modal {
  opacity: 1;
  visibility: visible;
}

.product-details-container .product-details-content-left .right {
  padding: 1rem;
  width: 100%;
  background: var(--white);
}
.product-details-container .product-details-content-left .right {
  padding: 1rem;
  width: 100%;
}
.product-details-container .product-details-right {
  background: var(--white);
  margin-left: 0.5rem;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.125);
  height: fit-content;
}
.product-details-container .product-details-right .heading {
  padding: 0.5rem;
  font-size: 1rem;
}
.product-details-container .variation-content {
  /* background-color: red; */
  padding: 1rem 0;
}
.product-details-container .variation-content .variation-link-size {
  /* background-color: red; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  /* background-color: red; */
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid var(--bodyBg);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}
.product-details-container
  .variation-content
  .variation-link-size:not(:first-of-type),
.variation-link-size:not(:last-of-type) {
  margin: 0 0.5rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.product-details-container .content-top .add-to-cart {
  width: 100%;
  background: var(--orange);
  border: 0;
  padding: 0.8rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.product-details-container #exzoom {
  width: 100%;
}
.product-details-container #exzoom .exzoom_img_box {
  width: 100%;
  background: var(--white);
}

#exzoom .exzoom_btn {
  position: relative;
}

#exzoom .exzoom_prev_btn,
#exzoom .exzoom_next_btn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -1.8rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: grid;
  place-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 0;
  color: var(--dark-text);
  font-size: 1.8rem;
}

/* Tables============================ */

.product-additional-details {
  background: var(--white);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

#container {
  width: 100%;
  padding: 1rem;
}
#container.tabs label {
  color: var(--dark-text);
  text-transform: uppercase;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.5em;
  line-height: 2.5em;
  margin-right: 0.25em;
  padding: 0 1.5em;
  text-align: center;
}

#container input:hover + label {
  color: var(--red);
  position: relative;
}
#container input:hover + label::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 3rem;
  height: 0.125rem;
  background: var(--orange);
}

#container input:checked + label {
  color: var(--red);
  position: relative;
}
#container input:checked + label::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 3rem;
  height: 0.125rem;
  background: var(--orange);
}

#content {
  background: #f1f1f1;
  min-height: 20em;
  position: relative;
  width: 100%;
  z-index: 5;
  top: 1.2rem;
  background: var(--white);
}

#content .tab-content {
  opacity: 0;
  padding: 1.5em;
  position: absolute;
  margin-top: 1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3 {
  opacity: 1;
  z-index: 100;
}

input.visible {
  visibility: visible !important;
}

/* ============Related products design============================== */

.related-product-container {
  position: relative;
  background: var(--white);
  /*padding-bottom: 1rem;
  */
  margin-top: 1rem;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.related-product-content {
  display: flex;
  position: relative;
  overflow-x: hidden;
}
.related-product-container:hover .related-product-buttons {
  opacity: 1;
  visibility: visible;
}
.related-products-item-slider .single-item {
  width: 250px;
  height: fit-content;
}
.related-product-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.related-product-buttons #prev,
.related-product-buttons #next {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--orange);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.125);
  cursor: pointer;
}

.related-product-buttons #prev {
  position: absolute;
  left: 1rem;
}
.related-product-buttons #next {
  position: absolute;
  right: 1rem;
}

.related-product-content .single-item .item-buy-btn {
  width: 100%;
  border: 0;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  background: var(--orange);
  margin-top: 0.5rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

/* ================= mobile-nav MENU===================== */

.mobile-nav {
  width: 100%;
  background: var(--white);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px -8px 115px -3px rgba(0, 0, 0, 0.125);
  display: none;
}
.mobile-nav .mobile-nav-content {
  display: flex;
  justify-content: space-between;
}

.mobile-nav .mobile-nav-content input:checked + .text {
  width: auto;
  height: fit-content;
  margin-left: 0.5rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  /* background-color: red; */
  padding: 0 0.5rem;
}
.mobile-nav .mobile-nav-content li > a .nav-item {
  display: flex;
  align-items: center;
  padding: 0.8rem 0.5rem;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.mobile-nav .mobile-nav-content li > a .nav-item.active-tab {
  color: var(--orange);
  font-weight: 500;
  /* background: var(--orange); */
  border-radius: 30px;
}
.mobile-nav .mobile-nav-content li > a i {
  width: 1rem;
  height: 1rem;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
}
.mobile-nav .mobile-nav-content li > a .text {
  width: 0;
  overflow-x: hidden;
  /* height: 1rem; */
  display: grid;
  place-items: center;
  font-size: 1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  /* padding: 0 0.1rem; */
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .banner,
  .bartop1,
  .logo,
  .LinksRight {
    display: none;
  }

  .header-wrapper {
    width: 100%;
  }

  .searchForm {
    width: 90%;
    margin: 0 auto;
  }

  .top-section {
    display: flex;
    width: 98%;
    /* height: 400px; */
    margin: 0 auto;
    justify-content: center;
  }

  .top-section .slider {
    height: 300px;
  }
  .top-section .slider {
    display: flex;
    grid-template-columns: 100%;
    justify-content: center;
  }

  .top-section .right-menu {
    display: none;
  }

  .top-section .left-menu {
    display: none;
  }

  .searchForm .searchCategorymenu {
    width: 80vw;
  }

  .sideMenu {
    width: 80%;
    height: 100%;
    background: var(--white);
  }

  .bartop-wrapper {
    width: 100%;
  }

  .main {
    width: 100%;
  }
  .mobile-nav {
    display: grid;
  }

  .footer {
    display: none;
  }
}
